/* optional colors for background? 
  sun = #ff896b
  Thunderstorm = #393e46
  Drizzle = #89a4c7
  Rain = #1f3c88
  Snow = #f3f9fb
  Atmosphere = #cdd5e0
  Clear = #9aceff
  Clouds = #4e709d
  black = #000
  white: #fff

*/
body {
  background-color: #ff896b;
}
.App {
  text-align: center;
  background-color: #89a4c7;
  /* filter: brightness(85%); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App__body {
  /* background-color: #89a4c7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}
ul {
  padding: 0;
}

li {
}

ul > li {
  display: inline-block;
  list-style-type: none;
  /* font-size: calc(1px + 2vmin); */
  cursor: default;
}

@media (prefers-reduced-motion: no-preference) {
  .card__img {
    transform: scale(1.1);
    animation: Grow-Shrink-slowly infinite 30s linear;
  }
}

@keyframes Grow-Shrink-slowly {
  from {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.7);
  }
  to {
    transform: scale(1.1);
  }
}
