.App {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App__body {
  text-align: center;
  font-size: calc(14px + 2vmin);
  /* color: white; */
}
ul {
  padding: 0;
}

ul > li {
  display: inline-block;
  list-style-type: none;
  cursor: default;
}

@media (prefers-reduced-motion: no-preference) {
  .card__img {
    transform: scale(1.5);
    animation: Grow-Shrink-slowly infinite 30s linear;
  }
}

@keyframes Grow-Shrink-slowly {
  from {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.7);
  }
  to {
    transform: scale(1.5);
  }
}

@media screen and (min-width: 2560px) {
  .App__body {
    text-align: center;
    font-size: calc(2rem + 2vmin);
  }
  .maxAndMinTemp {
    font-size: calc(3rem + 2vmin);
    padding: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .App {
    margin-top: 2rem;
  }
}
